.line-item--blue {
  color: #0000FF;
}

.line-item--pink {
  color: #8A2BE2;
}

.line-item--darkred {
  color: #A52A2A;
}

.line-item--red {
  color: #DC143C;
}

.line-item--teal {
  color: #20B2AA;
}
