<DocsHero @logo="Ember" @heading="Concurrency Retryable" @byline="Retry policies for ember-concurrency tasks" />

<div class="docs-container">
  <div class="docs-section">
    <DocsDemo as |demo|>
      <demo.example @name="retryable-demo-snippet.hbs">
        <RetryableDemo />
      </demo.example>

      {{demo.snippet "retryable-demo.js" label="component.js"}}
      {{demo.snippet "retryable-demo.hbs" label="template.hbs"}}
    </DocsDemo>
  </div>
</div>
